body
  margin-left: 36%
  margin-top: 10%
  .display
    text-align: right
    font-weight: bolder
    width: 40%
    border: solid 1px black
  table
    display:flex
    justify-content: center
    font-family: sans-serif
    tr
      td
        border: solid 1px black
        padding: 30px
        cursor: pointer
